html {
    overflow-x: hidden;
    background-color: black;
    font-family: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

.main {
    overflow-x: hidden;
}

.main-bg {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/background1.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 2rem;
    overflow-x: hidden;
}

.row {
    margin: 0%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo {
    width: 12vw;
    margin-top: .41vw;
    margin-left: 1.56vw;
}

.image {
    position: absolute;
    z-index: -1;
}

.backgound {
    position: absolute;
    background-color: black;
    z-index: 1;

}

.english,
.signin {
    height: 2.3vw;
    width: 5.32vw;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: .78vw;


}

.lang {
    height: .625vw;
    background-color: white;
    margin-right: 4px;
    border-radius: 7px;
}

.signin {
    background-color: red;
    border: none;
    border-radius: 4px;
    margin-left: 1rem;
    height: 2.2rem;
    margin-right: 2rem;
}

.english {
    font-family: roboto;
    border: white;
    border-style: solid;
    border-width: 1px;
    margin-top: .2rem;
    width: 5.5vw;
    background-color: black;
    align-items: center;
    justify-items: center;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    top: 10.9375rem;
    left: 27.625rem;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 1.5rem;
    padding-top: 5rem;
}

.content h1 {
    font-size: 4rem;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 1px;
}

.content h3 {
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 1px;

}

.content h5 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.inpt {
    width: 26.04vw;
    height: 3.75vw;
    border: white;
    margin-bottom: 1px;
    font-size: 20px;
}

.submt-btn {
    background-color: red;
    border: red;
    color: white;
    height: 3.8vw;
    width: 13.02vw;
    margin-left: -4px;
    font-family: Roboto;
    font-size: 1.2vw;
    top: 0;
    padding: 16px;
    padding-bottom: 14px;
    padding-top: 16px;

}

.log-in {
    margin-top: 5rem;
    justify-content: end;

}

.log-in-2 {
    justify-content: start;
}

.sub-div {
    min-height: 80vh;
    ;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-left: 2rem;
    border-bottom: rgba(125, 124, 124, 0.3);
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-top: rgba(125, 124, 124, 0.3);
    border-top-width: 7px;
    border-top-style: solid;
}

.sub-div h1 {
    margin-top: 0px;
    color: white;
    font-size: 50px;
    margin-left: 25px;
    font-family: Roboto;
    line-height: 60px;
}

.sub-div h2 {
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-weight: 400;
}

.image {
    height: 27vw;
    width: 36vw;

}
.image1{
        height: 27vw;
        width: 36vw;
    
}

.passage {
    padding-top: 10vw;
    padding-left: 5vw;
    width: 100%;
    height: 10vh;
}

.sub-img {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    height: 100%;
    z-index: 1;
}

.sub-video {
    position: relative;
    display: flex;
    height: 30vh;
    padding: 0px;
}

.video {
    height: 27vw;
    width: 31vw;
    padding-left: 4rem;
}

.footer-div {
    height: 71px;
    justify-content: center;
    display: flex;
    margin-bottom: 31px;


}

.div1 {
    margin-left: 336px;
    background-color: rgb(48, 48, 48);
    display: flex;
    height: 70px;
    width: 738px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 15px;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    background-color: transparent;
    border: none;
}

.details1,
.details2,
.details3,
.details4,
.details5,
.details6 {
    margin-left: 336px;
    background-color: rgb(48, 48, 48);
    display: flex;
    height: auto;
    width: 48vw;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    flex-direction: column;
    font-weight: 400;
    display: none;

}

.div1 h3 {
    width: 2vw;
}

.qus {
    padding-bottom: 10px;
}

.div1 {
    margin-left: 25vw;
    background-color: rgb(48, 48, 48);
    display: flex;
    height: 70px;
    width: 738px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 15px;
}

.sub-div1 {
    min-height: 40vw;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-left: 2rem;
    border-bottom: rgba(125, 124, 124, 0.3);
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-top: rgba(125, 124, 124, 0.3);
    border-top-width: 7px;
    border-top-style: solid;
}

.down-email {
    margin-left: 2vw;
}

.down-row {
    margin: 2vw 0 2vw 0vw;
    margin-left: 1vw;
    color: white;
    padding-left: 2vw;
}

.english1 {
    font-family: roboto;
    border: rgba(104, 99, 99, .4);
    border-style: solid;
    border-width: 1px;
    color: rgb(115, 111, 111);
    height: 54px;
    width: 122px;
    font-size: 18px;
    font-weight: 100;
    background-color: black;
    margin-top: 1vw;
    margin-left: 1vw;
}

.gif {
    width: 300px;
    background-color: black;
    border: rgba(125, 124, 124, 0.3);
    border-style: solid;
    border-width: 1px;
    height: 85px;
    border-radius: 15px;
    position: absolute;
    margin-left: 8vw;
    margin-top: 20vw;
    display: flex;
    flex-direction: row;
    line-height: 22px;

}

.gif-2 h3 {
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    color: white;
    font-family: Roboto;
}

.gif-2 p {
    margin: 0;
    padding: 0;
    display: flex;
    width: 20px;
    color: rgba(40, 60, 208, 0.668);
    font-family: Roboto;

}

.gif-1 {
    width: 77px;
    height: 85px;

}

.video_2 {
    height: 20vw;
    width: 27vw;
    margin-left: 2vw;
}

#hedu {
    color: white;
    font-family: Roboto;
    margin-left: 5vw;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

#res {
    display: none;
}

.submt-btn2 {
    font-size: 1vw;
    margin-top: 0vw;
    background-color: red;
    width: 14vw;
    margin-left: -0.5vw;
    height: 3.5vw;
    padding-top: 0.8vw;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
    border: red;
    color: white;
}

.inpt2 {
    width: 25vw;
    height: 3.5vw;
    font-size: 2vw;
}

@media (max-width:1200px) {
    .content h1 {
        font-size: 3rem;
    }

    .content h5 {
        width: 500px;
        font-size: 1.2rem;
        text-align: center;
    }

    .content h3 {
        padding: .1rem 0 .1rem 0;
        margin-top: 0px;
        font-size: 1rem;
    }

    .image {
        height: 27vw;
        width: 36vw;
    }
    .image1{
        height: 27vw;
        width: 36vw;
    }

    .video {
        height: 27vw;
        width: 31vw;
        padding-left: 3rem;
    }
    .video_2{
        height: 27vw;
        width: 31vw;
        padding-left: 3rem;
    }

    .english {
        font-size: 1vw;
        height: 3vw;
        width: 18vh;
    }

    .signin {
        height: 3vw;
        font-size: 1vw;
    }

    .inpt {
        width: 30vw;
    }

    .submt-btn {
        font-size: 1.3vw;
        padding-top: 1.3vw;
    }

    .sub-div h2 {
        font-size: 2.4vw;
    }

    .gif {
        left: -5vw;
        top: -2.5vw;
        width: 29vw;
    }

    .video_2 {
        height: 20vw;
        width: 26vw;
        padding-left: 3rem;
    }

    .div1 {
        margin-left: 15vw;
    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6 {
        margin-left: 15vw;
        width: 72vw;
    }

    .down-div {
        height: 40vw;
    }

}

@media (max-width:992px) {
    .gif-2 h3 {
        font-size: 1.5vw;
    }

    .sub-div h1 {
        font-size: 4vw;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content h5 {
        width: 500px;
        font-size: 1.2rem;
        text-align: center;
    }

    .content h3 {
        padding: .1rem 0 .1rem 0;
        margin-top: 0px;
        font-size: 1rem;
    }

    .image {
        height: 27vw;
        width: 36vw;
    }

    .video {
        height: 27vw;
        width: 31vw;
        padding-left: 3rem;
    }

    .english {
        font-size: 1vw;
        height: 3vw;
        width: 18vh;
    }

    .signin {
        height: 3vw;
        font-size: 1vw;
    }

    .inpt {
        width: 30vw;
    }

    .submt-btn {
        font-size: 1.1vw;
        padding-top: 1.8vw;
    }

    .sub-div h2 {
        font-size: 2vw;
    }

    .gif {
        left: -5vw;
        top: -3.5vw;
        width: 28vw;
        height: 10vw;
    }

    .video_2 {
        height: 20vw;
        width: 26vw;
        padding-left: 3rem;
    }

    .div1 {
        margin-left: 2vw;
    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6 {
        margin-left: 2vw;
        width: 96vw;
    }

    .down-div {
        height: 40vw;
    }

    .gif-2 p {
        font-size: 1.6vw;
    }

    #hedu {
        font-size: 5vw;
    }



}

@media (max-width:768px) {
    .log-in {
        justify-content: center;
    }

    .logo {
        width: 21vw;
        margin-top: 0.41vw;
        margin-left: 1.56vw;
    }

    .log-in-2 {
        justify-content: center;
    }

    .sub-div {
        height: 80vw;
    }

    .passage {
        padding: 0;
    }

    .gif-2 h3 {
        font-size: 1.5vw;
    }

    .sub-div h1 {
        font-size: 6vw;
        margin-top: 0.5vw;
        text-align: center;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content h5 {
        width: 500px;
        font-size: 1.2rem;
        text-align: center;
    }

    .content h3 {
        padding: 0.1rem 0 0.1rem 0;
        margin-top: 0px;
        font-size: 2rem;
    }

    .image {
        height: 61vw;
        width: 73vw;
        top: -18vw;
        left: 8vw;
    }

    .video {
        position: absolute;
        top: -4vw;
        height: 35vw;
        width: 87vw;
        left: 0vw;
    }

    .english {
        font-size: 2vw;
        height: 5vw;
        width: 23vh;
    }

    .signin {
        height: 5vw;
        width: 10vw;
        font-size: 2vw;
    }

    .inpt {
        width: 68vw;
        height: 6.75vw;
        font-size: 3.5vw;
    }

    .submt-btn {
        font-size: 1.7vw;
        margin-top: 1vw;
        width: 20vw;
        height: 5vw;
    }

    .sub-div h2 {
        font-size: 3vw;
        margin-left: 2px;
        text-align: center;
        z-index: 2;
        position: absolute;
    }

    .gif {
        left: 24vw;
        top: 39.5vw;
        justify-content: space-between;
        width: 44vw;
        height: 10vw;
    }

    .video_2 {
        height: 25vw;
        width: 52vw;
        top: -9vw;
        margin-left: 18vw;
        padding-left: 2rem;
    }



    .div1 {
        margin-left: 10vw;
        width: 79%;
    }

    .div1 h1 {
        margin-left: 4vw;
        font-size: 2.8vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6 {
        margin-left: 10vw;
        width: 79%;
    }

    .down-div {
        height: 40vw;
        font-size: 2vw;
    }

    .gif-2 p {
        font-size: 1.6vw;
    }

    #hedu {
        font-size: 4vw;
    }

    #mobile-img {
        height: 69vw;
        width: 82vw;
        margin-left: 12vw;
        padding-left: 0vw;
        padding-top: 13vw;
    }

    #res {
        display: block;
    }

    #no-res {
        display: none;
    }

    .english1 {
        height: 34px;
        width: 106px;

    }

    #imo {
        height: 7vw;
    }

    .submt-btn2 {
        font-size: 1.7vw;
        margin-top: 0vw;
        background-color: red;
        width: 20vw;
        margin-left: -0.5vw;
        height: 6vw;
        padding-top: 0.5vw;
        padding-bottom: 0vw;
        margin-bottom: 0vw;
        border: red;
        color: white;

    }

    .inpt2 {
        width: 51vw;
        height: 6vw;
        font-size: 3vw;

    }

    .div1 h3 {
        font-size: 3vw;
        font-family: 'Roboto';
    }
}

@media (max-width:500px) {
    .log-in {
        justify-content: center;
    }

    .logo {
        width: 24vw;
        margin-top: 2.41vw;
        margin-left: 1.56vw;
    }

    .log-in-2 {
        justify-content: center;
    }

    .sub-div {
        height: 80vw;
    }

    .passage {
        padding: 0;
    }

    .gif-2 h3 {
        font-size: 2vw;
        margin-top: 11px;
    }

    .div1 h1 {
        margin-left: 5vw;
        font-size: 2.8vw;
        margin-top: 1.5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content h5 {
        width: 500px;
        font-size: 1rem;
        text-align: center;
    }

    .content h3 {
        padding: 0.1rem 0 0.1rem 0;
        margin-top: 0px;
        font-size: 1.6rem;
    }

    .image {
        height: 60vw;
        width: 89vw;
        top: -18vw;
        left: 1vw;
    }

    .video {
        position: absolute;
        top: -4vw;
        height: 35vw;
        width: 87vw;
        left: 0vw;
    }

    .english {
        font-size: 2.7vw;
        height: 7vw;
        width: 23vh;
    }

    .signin {
        height: 6.9vw;
        width: 13vw;
        font-size: 2vw;
    }

    .inpt {
        width: 84vw;
        height: 6.75vw;
        font-size: 3.5vw;
    }

    .submt-btn {
        font-size: 2.7vw;
        margin-top: 1vw;
        width: 25vw;
        height: 8vw;
    }

    .sub-div h2 {
        font-size: 3.5vw;
        margin-left: 11px;
        text-align: center;
        z-index: 2;
        width: 86vw;
        position: absolute;
    }

    .gif {
        left: 24vw;
        top: 39.5vw;
        justify-content: space-between;
        width: 44vw;
        height: 10vw;
    }

    .video_2 {
        height: 40vw;
        width: 59vw;
        top: -9vw;
        margin-left: 18vw;
        padding-left: 2rem;
    }

    .image1 {
        height: 62vw;
        width: 95vw;
        position: absolute;
        top: -12vw;
    }



    .div1 {
        margin-left: 10vw;
        width: 79%;
        height: 8vw;
    }

    .div1 h1 {
        margin-left: 4vw;
        font-size: 2.8vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6 {
        margin-left: 10vw;
        width: 79%;
    }

    .down-div {
        height: 40vw;
        padding-left: 3vw;
        font-size: 2vw;
    }

    .gif-2 p {
        font-size: 1.6vw;
    }

    #hedu {
        font-size: 4vw;
    }

    #mobile-img {
        height: 69vw;
        width: 82vw;
        margin-left: 12vw;
        padding-left: 0vw;
        padding-top: 13vw;
    }

    #res {
        display: block;
    }

    #no-res {
        display: none;
    }

    .english1 {
        height: 34px;
        width: 106px;

    }

    .imo {
        height: 7vw;
    }

    .submt-btn2 {
        font-size: 1.7vw;
        margin-top: 0vw;
        background-color: red;
        width: 20vw;
        margin-left: -0.5vw;
        height: 6vw;
        padding-top: 0.5vw;
        padding-bottom: 0vw;
        margin-bottom: 0vw;
        border: red;
        color: white;

    }

    .inpt2 {
        width: 51vw;
        height: 6vw;
        font-size: 3vw;

    }

    .sub-div h1 {
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 0.5vw;
        text-align: center;
    }

    .div1 h3 {
        font-size: 3vw;
        font-family: 'Roboto';
    }
}

@media (max-width:376px) {
    .image {
        height: 62vw;
        width: 89vw;
    }
    .div1 {
        margin-left: 2vw;
        width: 95%;
        height: 11vw;
    }
    #para1{
        font-size: 4.5vw;
    }

    .sub-div h2 {
        font-size: 3vw;
        text-align: center;
    }

    #mobile-img {
        height: 73vw;
        width: 85vw;
        margin-left: 5vw;
        padding-left: 0vw;
        padding-top: 23vw;
    }

    .gif {
        left: 24vw;
        top: 39.5vw;
        width: 39vw;
        height: 11vw;
    }

    .gif-2 h3 {
        margin-top: 11vw;
        font-size: 2.5vw;
        width: 20vw;
        margin: 0;
        margin-top: 3vw;
    }

    .gif-1 img {
        height: 10vw;
        padding-left: 10px;
        padding-top: 10px;
    }

    .video {
        position: absolute;
        top: -3vw;
        height: 39vw;
        width: 96vw;
        left: -5vw;
    }

    .content h5 {
        width: 92vw;
        font-size: .9rem;
        text-align: center;
    }

    .english {
        font-size: 1vw;
        height: 3vw;
        width: 7vw;
    }.english {
        font-size: 2.5vw;
        height: 4.3vw;
        width: 13vh;
    }

    .signin {
        height: 4.5vw;
        width: 10vw;
        font-size: 2.5vw;
    }

    .video_2 {
        height: 31vw;
        width: 66vw;
        margin-left: 18vw;
        padding-left: -1rem;
    }

    .imo {
        height: 10vw;
        padding-top: 3px;
        margin-right: 8px;
    }

    .div1 h1 {
        font-size: 5vw;
    }

    .submt-btn {
        height: 4vw;
        width: 26vw;
    }

    .inpt {
        display: flex;
        margin: 0 auto 0;

    }

    .english1 {
        height: 26px;
        font-size: 3.6vw;
        width: 89px;
    }
    .image1 {
        height: 62vw;
        width: 95vw;
        position: absolute;
        top: -11vw;
    }

}

@media (max-width:321px) {
   .content h1{
    font-size: 3vh;
   }
   .down-div {
    height: 40vw;
    padding-left: 3vw;
    font-size: 4vw;
}
.content h3 {
    padding: 0.1rem 0 0.1rem 0;
    margin-top: 0px;
    font-size: 1.2rem;
}
.content h1 {
    font-size: 7vh;
}
.submt-btn2 {
    font-size: 1.7vw;
    margin-top: 0vw;
    background-color: red;
    width: 20vw;
    margin-left: -1.5vw;
    height: 6vw;
    padding-top: 1.5vw;
    padding-bottom: 0vw;
    margin-bottom: 0vw;
    border: red;
    color: white;
}
.logo {
    width: 29vw;
    margin-top: 4.41vw;
    margin-left: 1.56vw;
}
.signin {
    height: 8.5vw;
    width: 15vw;
    font-size: 3.5vw;
}
.english {
    font-size: 3.5vw;
    height: 7.3vw;
    width: 14vh;
}
}